.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2px 50px;
  z-index: 100;
  height: auto;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  color: #2E3D94;
  height: auto;
}

.nav-links li {
  cursor: pointer;
}

.logo {
  width: 100px;
  height: auto;
}