@media (max-width: 768px) {
@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    padding: 120px 25px 50px;
    gap: 40px;
    text-align: center;
  }

  .hero-kiri {
    max-width: 100%;
  }

  .hero-kiri h1 {
    font-size: 40px;
    line-height: 1;
  }

  .hero-kiri p {
    font-size: 12px;
    padding-top: 20px;
  }

  .btn {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-kanan {
    order: -1;
  }

  .hero-kanan img {
    width: 100%;
    max-width: 320px;
  }

  .hero-kanan::before {
    top: 12px;
    left: 12px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

  .hero {
    padding: 140px 50px;
    gap: 50px;
  }

  .hero-kiri {
    max-width: 400px;
  }

  .hero-kiri h1 {
    font-size: 65px;
    line-height: 1.1;
  }

  .hero-kiri p {
    font-size: 16px;
  }

  .hero-kanan img {
    width: 380px;
  }

  .hero-kanan::before {
    top: 15px;
    left: 15px;
  }

}
}